*{
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-align: center;
}
.Container{
    max-width: 450px;
    margin: auto;
    text-align: center;
    height: 300px;
    border: black;
    background-color: beige;
    margin-top: 100px;
}
.form-contr1{
    margin-bottom: 35px;
    text-align: center;
    text-size-adjust: 20px;
    height: 35px;
    width: 200px;
    margin-left: 35px;
}
.button{
    width: 65px;
    height: 30px;
}
p{
    margin-right: 30px;
    font-size: large;
}